:root {
  --clr-primary0: hsl(158, 36%, 37%); /* dark cyan */
  --clr-primary1: hsl(30, 38%, 92%);  /* cream */
  --clr-neutral0: hsl(212, 21%, 14%); /* very dark blue */
  --clr-neutral1: hsl(228, 12%, 48%); /* drak gravish blue */
  --clr-neutral2: hsl(0, 0%, 100%);   /* white */

  --clr-hover-btn: hsl(156.3, 42.2%, 17.6%);

  --font-family0: 'Fraunces', serif;
  --font-family1: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%;
  font-family: var(--font-family0);
}

body {
  place-items: center;
  inline-size: 100vw;
  background-color: var(--clr-primary1);
  padding-block: 10rem;
}

/* utility classes */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

img {
  max-inline-size: 100%;
}


/* main */

main {
  grid-template: "view-img" 39.15% "product-info" 60.85% / 1fr;
  inline-size: 305px;
  margin-bottom: 5rem;
  border-radius: 10px;
  overflow: hidden;
}

picture {
  grid-area: view-img;
}

picture img {
  display: block;
  object-fit: fill;
  min-block-size: 100%;
}

.about-product {
  grid-area: product-info;
  flex-flow: column nowrap;
  gap: 4rem;
  padding: 2rem 2.5rem;
  background-color: var(--clr-neutral2);
}

.product-info {
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.product-info p {
  color: var(--clr-neutral1);
}

.product-info p:first-child {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.product-info h1 {
  font-family: var(--font-family0);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--clr-neutral0);
}

.product-info p:last-child {
  font-size: 1.2rem;
  line-height: 1.9rem;
}


.price {
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.price p:first-child {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--clr-primary0);
}

.price p:last-child {
  font-size: 1.2rem;
  color: var(--clr-neutral1);
  text-decoration: line-through;
}

.add-card-btn {
  justify-content: center;
  gap: 1rem;
  inline-size: 100%;
  padding-block: 1.3rem;
  color: var(--clr-neutral2);
  font-weight: 700;
  background-color: var(--clr-primary0);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.add-card-btn:hover {
  background-color: var(--clr-hover-btn);
}


@media (min-width: 750px) {
  main {
    inline-size: 475px;
    grid-template: "view-img product-info" 1fr / 1fr 1fr;
  }
}
